body {
	background: #755;
	font-family: sans-serif;
	margin: 0;
}

header {
	background-color: grey;
	margin: 0;	
}

header h1 {
	color: white;
	margin: 0;
	display: inline-block;
} 

ul li {
	display: inline-block;
	padding: 5px 15px;
	margin: 1px 0px;
	color: white;
	background-color: black;
	border: 2px;
	border-radius: 5px;
}

ul li a {
	color: white;
	text-decoration-line: none;
}

.col {
	color: red;
	background-color: black;
	padding: 33px 79px;
	margin: 1px;
	float: left;
	border: 5px;
	border-radius: 20px;
}